h1, h2, h3, h4, h5, h6 {
  @extend %headings !optional;
}

.page-x-padding {
  padding-left: var(--nav-x-padding);
  padding-right: var(--nav-x-padding);

  @screen lg {
    @apply mx-2;
  }
}

.page {
  @extend .page-x-padding;

  @apply py-8 font-fira-sans;

  %headings {
    font-weight: 400;
    line-height: 1.25;
  }

  @for $index from 1 through 6 {
    &:not(.custom) {
      h#{$index}:not(.custom) {
        margin-top: 1.91rem;
        margin-bottom: 0.6rem;
      }

      & > h#{$index}:not(.custom):first-child {
        margin-top: 0;
        margin-bottom: 1.7rem;
      }
    }
  }

  h1 {
    font-size: 2.02rem;
    font-weight: 500;

    @screen sm2 {
      font-size: 2.1rem;
    }
  }

  h2 {
    font-size: 1.55rem;

    @screen sm2 {
      font-size: 1.55rem;
    }
  }

  h3 {
    font-size: 1.22rem;

    @screen sm2 {
      font-size: 1.35rem;
    }
  }

  p {
    line-height: 1.7;
  }

  a:hover {
    text-decoration: underline;
  }

  // (Use with empty span)
  .small-br {
    @apply block mt-2;
  }

  .marked-link {
    @apply border rounded font-mono break-all;
    padding: 0.12rem 0.32rem;
  }

  .blockquote {
    @apply block border-l-4 pl-5;

    .dark-mode & {
      @apply border-gray-700;
    }
  }

  $highlight-border-radius: 6px;

  .marked-block {
    @apply block my-3 py-3 px-4 bg-gray-200;
    @apply transition-colors duration-cmt;
    border-radius: $highlight-border-radius;
    line-height: 1.54rem;
    word-break: break-word;

    &.no-break {
      overflow-wrap: auto;
      white-space: nowrap;
      overflow: auto;
      word-break: normal;
      word-wrap: normal;
    }

    .dark-mode & {
      @apply bg-gray-800;
      background-color: #3d4758;
    }
  }

  .highlight {
    --highlight-color-bg: #f6f8fa;
    --highlight-color-text: #24292e;

    .dark-mode & {
      --highlight-color-bg: #2d333b;
      --highlight-color-text: #adbac7;
    }

    margin-bottom: 16px;

    pre {
      @apply transition-colors duration-cmt;
      @apply font-mono;

      border-radius: $highlight-border-radius;
      font-size: 90%;
      line-height: 1.45;
      padding: 16px;
      background-color: var(--highlight-color-bg);
      color: var(--highlight-color-text);

      word-wrap: normal;
      word-break: normal;
      overflow: auto;
    }
  }

  &.doc-page {
    @screen lg {
      max-width: 59rem;
    }
  }
}
